body {
    margin: 0;
  }

a:hover {
cursor: pointer;

}

  .navbar{
    width:100%;
    position: fixed;
    top:0;
    left:0;
    background:white;
    height:60px;
    z-index: 1;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }


.navbar ul{
	display: flex;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
  text-align: center;
  padding-left: 0;
}
.navbar li {
	padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color:#6E2594;
  height:1.6vw;
  width:100px;
  margin: auto;
  list-style-type: none;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

.navbar a{
  text-decoration: none;
  color:#6E2594;
}

.navbar a:hover{
  color: #ECD444; 
}

.navbar li:hover {
  color: #ECD444;
}
.navbar li:active {
  transform: translateY(4px);
  color: #ECD444;
}

.overlay0 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
 /* .overlay0:target {
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}  */

.popup0 {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 513px;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 2;
overflow: hidden;
}

.popup0 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup0 .close0 {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup0 .close0:hover {
  color: #ff1b1c;
}
.popup0 .content0 {
  height: 70%;
  overflow: hidden;
}

.content0 img{
  width:auto;
  height:100%;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup0{
    width: 70%;
  }
}

  
  .parallax {
    /* The image used */
    background-image: url('landingbg.jpg');
  
    /* Full height */
    height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* .parallax2 {
    background-image: url("whitebg2.png");
                          overflow: hidden;
                          background-position: center;
                          background-attachment: fixed;
                          background-size: cover; 
                          
  } */

  .ad{
    position:relative;
    background-color: #ECD444;
    text-align:center;
    font-size: .8vw;
    top:2vw;
    height:7vh;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    padding-top: .5vw;
    overflow: hidden;
  }

   /* .animate__animated.animate__pulse {
    --animate-duration: 10s;
  }  */

  .parallax img{
      width:65%;
      position: relative;
      top:7vw;
      left:2%;
  }

  .parallax h2{
    position: relative;
    top:7vw;
    left:12%;
    font-size: 1.8vw;
  
    width:50%;
    text-align:center;
    font-family: 'Oswald', sans-serif;
  }

  .large{
    padding-right: 10%;
    padding-left: 10%;
    color: black;
    font-size: 2.5vw;
    font-family: 'Roboto', sans-serif;
      }

  .red {
    color:#ff1b1c;
    font-family: 'Roboto', sans-serif;
  }

  .coursebox{
    background-color: transparent;
    width:17vw;
    height:12vw;
position: absolute;
top:32vw;
left:18%;
border-radius: 10px;
border-top: 3px solid #ECD444;
border-bottom: 3px solid #ECD444;
  }

  .coursebox h2{
    top:0%;
    left:0;
    width:100%;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .05vw;

  }

  .cbt{
                      
    width:80%;
    background-color:black ;
    color: #ECD444;
    position: absolute;
    left:10%;
    padding-top: 1%;
    padding-bottom: 1%;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
text-align: center;
font-size: 1.3vw;
border-radius: 7px;
font-family: 'Poppins', sans-serif;

  }

  .cbt a{
    color: #ECD444;
    text-decoration: none;
  }

  .cbt a:hover{
    color:white;
  }

  .regbox{
    background-color: transparent;
    width:17vw;
    height:12vw;
    position: absolute;
    top:32vw;
left:38%;
border-radius: 10px;
border-top: 3px solid #ECD444;
border-bottom: 3px solid #ECD444;
  }

  .regbox h2{
    top:0%;
    left:0;
    width:100%;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .05vw;
  }

  .rbt{
                      
    width:80%;
    background-color:black ;
    color: #ECD444;
    position: absolute;
    left:10%;
    padding-top: 1%;
    padding-bottom: 1%;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
text-align: center;
font-size: 1.3vw;
border-radius: 7px;
font-family: 'Poppins', sans-serif;
  }

  .rbt a{
    color: #ECD444;
    text-decoration: none;
  }

  .rbt a:hover{
    color:white;
  }

  .about{
    width:100%;
    height:53vw;
    position: relative;
    text-align: center;
    background: url("bookbg.jpg");
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }

  .darktint{
    background-color: rgba(0, 0, 0, 0.693);
    width:100%;
    position: absolute;
    top:0;
    left:0;
    height:53vw;
  }

  .abouttitle{
    height:6vw;
    width:28%;
    font-size: 2.3vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700px;
    float:left;
    padding-top: 0;
    position: relative;

    padding-left: 5%;
    /* background: rgb(212,212,211);
    background: linear-gradient(183deg, rgba(212,212,211,1) 0%, rgba(210,210,210,1) 50%, rgba(255,255,255,1) 100%);  */
}

.abouttitle h1{
  margin:0;
  float:left;
}

.aboutp{
  position: absolute;
  top:7vw;
  left:0;
  padding:0;
  padding-left: 5%;
  text-align:left;
  width:45%;
  font-size: 1.2vw;
  font-family: 'Roboto', sans-serif;
  word-spacing: .4vw;
 
}

.features{
  margin:0;
  padding:0;
  position:absolute;
  right:8%;
  text-align: left;
  top:0vw;
}

.features h2{
  font-family: 'Noto Serif', serif;
  font-size: 3vw;
  color: #ECD444;
}

.features ul{
list-style-image: url("ytick.png");
}

.features li{
  font-size: 1.2vw;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .05vw;
  line-height:1.6vw ;
}

.values{
  width:100%;
  height:auto;
  background: #ECD444;
  position: absolute;
  top:28vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.ftext{
  background-color:#6E2594;
  color: white;
  width:100%;
  top:45vw;
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  font-size: 2vw;
  padding-top:2vw;
  padding-bottom:2vw;
  text-align: left;
  padding-left:10%;
}

.ftext h2{
  margin:0;
}

.big1{
  color:#ECD444 ;
}



.flip-card {
  background-color: transparent;
  width: 10vw;
  height: 10vw;
  perspective: 1000px;
  border-radius:50%;
   display:inline-block;
   margin-left:5%;
   margin-right: 5%;
   text-align: center;
   
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius:50%;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius:50%;
  border: 4px solid black;
 
}

.flip-card-front {
  background-color:transparent;
  color: black;
  overflow:hidden;
}

.flip-card-back {
  background-color:#6E2594;
  color: white;
  transform: rotateY(180deg);
  align-content: center;
}

.flip-card-back p{
    margin-top: 2vw;
    margin-left:10%;
    margin-right:10%;
    font-size: 1vw;
  }

  .philosophy{
      margin-top: 1.5vw;
  }

  .mission{
      margin-top:.5vw;
      margin-left: 1vw;
  }

  .vision{
      margin-top:2.5vw;
  }

  .flip-card h4{
      font-size:1.2vw;
      font-family: 'Poppins', sans-serif;
      color:black;
  }

.philocorr{
padding-top:1.5vw;
}

.yround1{
  width:3vw;
  height:3vw;
  background-color:#ECD444 ;
  margin:0;
  border-radius: 50%;
  position: absolute;
  left:55%;
  bottom:2.5vw;
  
}

.yround1:hover{
  cursor: pointer;
  background-color:#bea931 ;

}

.yround1 img{
  width:60%;
  height: auto;
  padding-top: 20%;
}


.yround2{
  width:3vw;
  height:3vw;
  background-color:#ECD444 ;
  margin:0;
  border-radius: 50%;
  position: absolute;
  left:60%;
  bottom:2.5vw;
  
}

.yround2:hover{
  cursor: pointer;
  background-color:#bea931 ;

}

.yround2 img{
  width:60%;
  height: auto;
  padding-top: 20%;
}


.yround3{
  width:3vw;
  height:3vw;
  background-color:#ECD444 ;
  margin:0;
  border-radius: 50%;
  position: absolute;
  left:65%;
  bottom:2.5vw;
  
}

.yround3:hover{
  cursor: pointer;
  background-color:#bea931 ;

}

.yround3 img{
  width:60%;
  height: auto;
  padding-top: 20%;
}

  .amentors{
    height:50vw;
    position: relative;
    text-align: center;
    background: transparent;
    overflow: hidden;
   
  }

.amentors img{
    height:100%;
    width:110%;  
}

.amentors a:hover{
  color:grey;
}

.amenttitle{
    height:6vw;
    width:32%;
    font-size: 2.3vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700px;
    float:left;
    padding-top: 0;
    position: relative;
  
    padding-left: 5%;
    /* background: rgb(212,212,211);
    background: linear-gradient(183deg, rgba(212,212,211,1) 0%, rgba(210,210,210,1) 50%, rgba(255,255,255,1) 100%);  */
}

.amenttitle h1{
  margin:0;
  float:left;
}

.ament1{
    text-align: center;
    width:20vw;
    position: absolute;
    left:5%;
    top:10vw;
    
}

.ament2{
    text-align: center;
    width:20vw;
    position: absolute;
    left:25%;
    top:10vw;
}

.ament3{
    text-align: center;
    width:20vw;
    position: absolute;
    left:5%;
    top:30vw;
}

.ament4{
    text-align: center;
    width:20vw;
    position: absolute;
    left:25%;
    top:30vw;
}

  .amentc1{
background: grey;
height:10vw;
width:10vw;
border-radius: 50%;
overflow: hidden;
margin-left: 5vw;
margin-right:5vw;
  }

  .amentc2{
    background: grey;
    height:10vw;
    width:10vw;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 5vw;
margin-right:5vw;
      }

      .amentc3{
        background: grey;
        height:10vw;
        width:10vw;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 5vw;
margin-right:5vw;
          }

          .amentc4{
            background: grey;
            height:10vw;
            width:10vw;
            border-radius: 50%;
            overflow: hidden;
            margin-left: 5vw;
margin-right:5vw;
              }

              .amentors h3{
                font-family: 'Noto Serif', serif;
                font-size: 2vw;
                margin:0;
              }

              .amentors h4{
                font-family: 'Poppins', sans-serif;
                margin-top:0;
                font-size: 1.1vw;

              }

              .amentors a{
                color:#ff1b1c ;
                  font-size: 1vw;
              }

              .atrapezoid {
               
                  /* transform: skew(-10deg); */
              height: 50vw;
                width: 50%;
                position:absolute;
                top:0;
                right:0;
                /* background: url("whitebg1.jpg");
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  */
  

            } 

              .quote h1{
                font-size: 10vw;
                margin: 0;
                padding: 0;
                font-family: 'Bebas Neue', cursive;
                color:#ff1b1c;
              }

              .quote:first-child{
                  transform: rotate(180deg);
                position: absolute;
                  top:5vw;
                  left:5vw;
              }

              .quote:last-child{
                  position: absolute;
                  bottom:1vw;
                  right:9.8vw;
              }

              .qt{
                width:70%;
                height:33vw;
                position: absolute;
                left:10%;
                font-family: 'Bebas Neue', cursive;
                margin:0;
                /* transform: skew(10deg); */
               top:8vw;
               
              }

              .qt h2{
                  font-size: 3.4vw;
                  margin: 0;
                  color:#6E2594;
                  padding-top: 2vw;
              }

              .qt h6{
                font-size: 2vw;
                float:right;
    margin:0;
    margin-top: 2.5vw;
    color:#6E2594;
              }

              .qt p{
                  margin: 0;
                  font-size: 1.2vw;
                  color:#6E2594;
                  font-family: 'Roboto', sans-serif;
              }

              .qt h1{
                font-size: 2vw;
                color:#ff1b1c ;
                font-family: 'Noto Serif', serif;
            }
            

            .qt a{
              
                font-size: 2.3vw;
                color:#ff1b1c ;
               
            }
             

              .big{
                  font-size: 5.3vw;
                  color:#ff1b1c ;
              }

              .bmentors{
                height:50vw;
                position: relative;
                text-align: center;
                background:transparent;
                overflow: hidden;
              }
            
            .bmentors img{
                height:100%;
                width:110%;
                
            }

            .bmentors a:hover{
              color: grey;
            }

            .bmenttitle{
              height:5vw;
              width:24%;
              font-size: 1.8vw;
              font-family: 'Poppins', sans-serif;
              font-weight: 700px;
              float:right;
              padding-top: 0;
              position: relative;
            
              padding-right: 6%;
             }
          
          .bmenttitle h1{
            margin:0;
            float:right;
          }

          .bment1{
              text-align: center;
              width:18vw;
              position: absolute;
              right:5%;
              top:8vw;
              
          }
          
          .bment2{
              text-align: center;
              width:18vw;
              position: absolute;
              right:25%;
              top:8vw;
              
          }
          
          .bment3{
              text-align: center;
              width:18vw;
              position: absolute;
              right:45%;
              top:8vw;
          }
          
          /* .bment4{
              text-align: center;
              width:20vw;
              position: absolute;
              right:25%;
              top:31vw;
          } */
          
            .bmentc{
          background: grey;
          height:8vw;
          width:8vw;
          border-radius: 50%;
          overflow: hidden;
          margin-left: 5vw;
          margin-right:5vw;
            }
          
          
                        .bmentors h3{
                          font-family: 'Noto Serif', serif;
                          font-size: 1.8vw;
                          margin:0;
                        }
          
                        .bmentors h4{
                          font-family: 'Poppins', sans-serif;
                          margin-top:0;
                          font-size: 1vw;
          
                        }
          
                        .bmentors a{
                          color:#ff1b1c ;
                            font-size: 1vw;
                           
                        }

                        .bmenttitle2{
                          height:5vw;
                          width:33%;
                          font-size: 1.8vw;
                          font-family: 'Poppins', sans-serif;
                          font-weight: 700px;
                          float:right;
                          padding-top: 0;
                          position: absolute;
                         
                          padding-right: 6%;
                          top:27vw;
                          right:0;
                         }
                      
                      .bmenttitle2 h1{
                        margin:0;
                        float:right;
                      }

                      .bment4{
                        text-align: center;
                        width:18vw;
                        position: absolute;
                        right:5%;
                        top:35vw;
                    }
          
                    .bment5{
                      text-align: center;
                      width:18vw;
                      position: absolute;
                      right:23%;
                      top:35vw;
                  }
          
                  .bment6{
                    text-align: center;
                    width:18vw;
                    position: absolute;
                    right:41%;
                    top:35vw;
                }
          
                .bment7{
                  text-align: center;
                  width:18vw;
                  position: absolute;
                  right:59%;
                  top:35vw;
              }
          
              .bment8{
                text-align: center;
                width:18vw;
                position: absolute;
                right:77%;
                top:35vw;
            }
          
                        .btrapezoid {
                         
                          
                           
                        height: 32vw;
                          width: 38%;
                          position:absolute;
                          top:0;
                          left:0;  
                          /* background: url("whitebg1.jpg");
                          overflow: hidden;
                          background-position: center;
                          background-repeat: no-repeat;
                          background-size: cover;  */
                       } 

                     /* .quote2 h1{
                        font-size: 10vw;
                        margin: 0;
                        padding: 0;
                        font-family: 'Bebas Neue', cursive;
                        color:#ff1b1c;
                      }
        
                      .quote2:first-child{
                          transform: rotate(180deg);
                        position: absolute;
                          top:5vw;
                          left:5vw;
                      }
        
                      .quote2:last-child{
                          position: absolute;
                          bottom:1vw;
                          right:9.8vw;
                      }
        
                      .qt2{
                        width:70%;
                        height:33vw;
                        position: absolute;
                        left:10%;
                        font-family: 'Bebas Neue', cursive;
                        margin:0;
                      
                       top:8vw;
                       
                      }
        
                      .qt2 h2{
                          font-size: 3.4vw;
                          margin: 0;
                          color:#6E2594;
                          padding-top: 2vw;
                      }

                      .qt2 h6{
                        font-size: 2vw;
                        float:right;
            margin:0;
            margin-top: 2.5vw;
            color:#6E2594;
                      }

                      .big3{
                        font-size: 5.3vw;
                        color:#ff1b1c ;
                    } */

                       .qt2{
                        width:28vw;
                        height:28vw;
                        position: absolute;
                        left:15%;
                        border-radius: 50%;
                        font-family: 'Bebas Neue', cursive;
                        margin:0;
                        
                       top:2vw;
                      color: white;
                       font-size: 2.2vw;
                       background-color:#6E2594 ;
                       
                      }    

                      .qt2 h2{
                        padding-top: 5%;
                      }

                      .qt2 h6{
                        font-size:1.3vw;
                        margin: 0;
                        letter-spacing: .06vw;
                      }
                      .big3{
                  
                        color:#ECD444 ;
                    } 

                    /* .yround{
                      width:7vw;
                      height:7vw;
                      background-color:#ECD444 ;
                      margin:0;
                      border-radius: 50%;
                      position: absolute;
                      left:58%;
                      top:63%;
                      overflow: hidden;
                    } */

                    /* .yround img{
                      width:60%;
                      height: auto;
                      padding-top: 20%;
                    }

                    .yround:hover{
                      cursor: pointer;
                      background-color:#bea931 ;
                      
                    } */

                    .joinquote{
                      width:100%;
                      height:25vw;
                      background: url("whitebook.jpg");
                     position: relative;
                      background-position: center;
                      background-repeat: no-repeat;
                      background-size: cover;
                    }

                    .qt3{
                      width:50%;
                      height:65%;
                      position: absolute;
                      left:0%;
                      text-align: center;
                      font-family: 'Bebas Neue', cursive;
                      margin:0;
                      padding:0;
                      /* transform: skew(10deg); */
                     top:28%;
                    color: black;
                     font-size: 3vw;
                     line-height: 50%;
                    } 

                    .qt3 h2{
                      margin: 0;
                      font-size: 4.6vw;
                    }

                    

                    .qt3 h3{
                      margin: 0;
                      line-height: 90%;
                    }

                    .big4{
                      color:#6E2594 ;
                    }

                    .registration{
                      background-color:#ECD444 ;
                      width:100%;
                      height:15vw;
                      font-size: 2vw;
                      text-align: center;
                      color:black;
                      font-family: 'Bebas Neue', cursive;
                      position: relative;
                    }

                    .registration h2{
                      padding-top:2% ;
                      font-size: 3.5vw;
                      margin:0;
                      margin-bottom: 2%;
                    }


                    .bt1{
                      
                      width:17%;
                      background-color:black ;
                      color: #ECD444;
                      position: absolute;
                      left:32.5%;
                      padding-top: .6%;
                      padding-bottom: .6%;
                      -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
    
                    }

                    .bt1 a{
                      color: #ECD444;
                      text-decoration: none;
                    }

                    .bt1 a:hover{
                      color:white;
                    }

                    .bt2{
                      
                      width:17%;
                      background-color:black;
                      color: #ECD444;
                      position: absolute;
                      left:50.5%;
                      padding-top: .6%;
                      padding-bottom: .6%;
                      -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
                    }

                    .bt2 a{
                      color: #ECD444;
                      text-decoration: none;
                    }

                    .bt2 a:hover{
                      color:white;
                    }

                    .overlay {
                      position: fixed;
                      top: 0;
                      bottom: 0;
                      left: 0;
                      right: 0;
                      background: rgba(0, 0, 0, 0.7);
                      transition: opacity 500ms;
                      visibility: hidden;
                      opacity: 0;
                      z-index: 2;
                    }
                    .overlay:target {
                      visibility: visible;
                      opacity: 1;
                      z-index: 2;
                    }
                    
                    .popup {
                      margin: 70px auto;
                      padding: 20px;
                      background: #fff;
                      border-radius: 5px;
                      width: 640px;
                      position: relative;
                      transition: all 5s ease-in-out;
                      z-index: 2;
                   
                    }
                  
                    .popup h2 {
                      margin-top: 0;
                      color: #333;
                      font-family: Tahoma, Arial, sans-serif;
                    }
                    .popup .close {
                      position: absolute;
                      top: 20px;
                      right: 30px;
                      transition: all 200ms;
                      font-size: 30px;
                      font-weight: bold;
                      text-decoration: none;
                      color: #333;
                    }
                    .popup .close:hover {
                      color: #ff1b1c;
                    }
                    .popup .content {
                      height: 70%;
                      overflow: auto;
                    }
                    
                    @media screen and (max-width: 700px){
                      .box{
                        width: 70%;
                      }
                      .popup{
                        width: 70%;
                      }
                    }
                  

                    .whatsappquote{
                      background-color:#6E2594 ;
                      width:100%;
                      height:16vw;
                      font-size: 2vw;
                      text-align: center;
                      color:white;
                      font-family: 'Bebas Neue', cursive;
                      position: relative;
                      
                    }

                    .whatsappquote h2{
                      margin:0;
                      padding-top: 2%;
                      padding-bottom: 1%;
                      
                    }

                    .bt3{
                      
                      width:17%;
                      background-color:#ECD444;
                      color: #6E2594 ;
                      position: absolute;
                      left:41%;
                      padding-top: .6%;
                      padding-bottom: .6%;
                      -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
                    }

                    .bt3 a{
                      color: #6E2594;
                      text-decoration: none;
                    }

                    .bt3 a:hover{
                      color:#ff1b1c;
                    }


                    .big6{
                      color:#ECD444 ;
                    }

                    .contact{
                      width:100%;
                      height:10vw;
                      position: relative;
                      font-size: 2vw;
                      background: 
                      linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
                      linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
                      linear-gradient(315deg, black 25%, transparent 25%),
                      linear-gradient(45deg, black 25%, transparent 25%);	
                      background-size: 2em 2em;
                      background-color: #232323;
                      
                     
                     
                      color:#9f9fa0;
                      font-family: 'Bebas Neue', cursive;
                      /* border-bottom: 2px solid #ff1b1c; */
                    }

.contact a:hover{
  color:#ff1b1c  ;
}

                    .contactsect{
                      display: inline-table;
                      padding-left: 10%;
                      padding-right: 8%;
                      
                    }
                   
                    /* .contact h1{
                      padding-bottom: .5vw;
                      padding-top: .5vw;
                      color:#ff1b1c  ;
                      font-family: 'Poppins', sans-serif;
                      border-bottom: 2px solid #ff1b1c;
                      font-size: 3vw;
                      margin:0;
                      font-weight: bolder;  
                      text-align: center;
                      margin-bottom: .5vw;
                    } */
                   
                    .contact h2{
                      color:#ECD444  ;
                      font-family: 'Noto Serif', serif;
                     letter-spacing: .2vw;
                     font-size:1.3vw;
                     font-weight: 700px;
                     text-align: center;
                   }
                   
                   .contact h3{
                     font-size: 1.3vw;
                     font-family: 'Roboto', sans-serif;
                     text-align: center;
                     }

                     .contact a{
                       text-decoration: none;
                       color: grey;
                     }

                     .footer{
                      font-family: 'Roboto', sans-serif;
                      width:100%;
                      height:2vw;
                      font-size: 1vw;
                      text-align: center;
                      color: grey;
                      background-color: rgb(26, 25, 25);
                      vertical-align: middle;
                     }

                     .footer h4{
                       margin:0;
                       padding-top: .5%;
                       padding-right: 7vw;
                     }
                   
                    /* .yround3{
                      width:6vw;
                      height:6vw;
                      background-color:#ECD444 ;
                      margin:0;
                      border-radius: 50%;
                      position: absolute;
                      left:47%;
                      bottom:-20%;
                      z-index: 1;
                    }
                    
                     .yround3 img{
                      width:60%;
                      height: auto;
                      padding-top: 20%;
                    } 

                    .yround3:hover{
                      cursor: pointer;
                      background-color:#bea931 ;
                     
                    } */
